.commentWrapper {
  padding: 1rem;
  border-bottom: 1px solid #dde3ed;
  padding-bottom: 0px;
}
.commentWrapper a{
  text-decoration: none;
}
.commentWrapper--username {
 
}

.commentWrapper--username .displayName {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: #222020;
}
.commentWrapper--commentContent {
  color: #222020;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
}
.commentWrapper--commentActions .commentInputBox {
  
}
.commentWrapper--commentActions .commentWrapper {
  margin: 0 0 0 40px;
  border: none;
}
.commentWrapper--commentActions .replies {
  color: rgba(15, 30, 61, 0.4);
  line-height: 16px;
  font-size: 12px;
  margin: 0 5px;
}
.commentWrapper__commentContent--content {
  flex-grow: 1;
}
.replies {
  font-size: 16px;
}
