.commentWrapper {
  padding: 1rem 0;
  border-bottom: 1px solid #dde3ed;
}
.commentWrapper--username {
  margin-bottom: 5px;
}

.commentWrapper--username .displayName {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: #222020;
}
.commentWrapper--commentContent {
  color: #222020;
  font-size: 14px;
  line-height: 20px;
  display: flex;
}
.commentWrapper--commentActions .replies {
  color: rgba(15, 30, 61, 0.4);
  line-height: 16px;
  font-size: 12px;
}
.commentWrapper__commentContent--content {
  flex-grow: 1;
}
.replies {
  font-size: 16px;
}
