.commentInputBox {
  display: flex;
  margin: 5px 0 1.5rem 0;
  align-items: center;
}
.inputDiv {
  flex-grow: 1;
  position: relative;
}
.lmProfile {
  margin-right: 1rem;
  height: 24px;
  width: 24px;
}
#editableDiv {
  resize: none;
  font-weight: 400;
  font-size: 14px;
  overflow-y: auto; 
  padding: 8px 0px;
  margin-right: 5px;
  color: rgba(72, 79, 103, 0.7);
}
#editableDiv:focus{
  outline: none;
}
.postCommentButton {
}
.commentsWrapper {
  max-height: 400px;
  overflow-y: scroll;
}


.postTaggingTile{
  background: #fff;
  padding: 10px 15px;
  display: block;
  border: none;
  border-bottom: 1px solid #eceff3;
  width: 250px;
  text-align: left;
  color: #333;
  font-size: 14px;
  text-transform: capitalize;
  
}
.postTaggingTile:hover{
  cursor: pointer;
  transition: 0.3s all ease-in-out;
  background-color: #5046e5;
  color: #fff;
}