.postDetailsHeaderWrapper{
    height: 64px;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 20;
    background-color: white;
    flex-grow: 1;
}

.postDetailsHeaderWrapper--backIconHolder > img {
    cursor: pointer;
}

.postDetailsHeaderWrapper--toolBarArea{
    margin-left: 10px;
}
.postDetailsContentWrapper{
    margin-top: 24px;
   
}